<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title || "writeup" %></title>
    <link rel="shortcut icon" href="/img/icons/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/file_preview.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="wrapper">

        <% if (type === "notfound") { %>
            <h1> 404 </h1>
            <p>File not found</p>
        <% } else if(type === "alert") { %>
            <h1> Stop it </h1>
        <% } else if(type === "image") { %>
            <h1> Preview of: "<b><%= filename %></b>"</h1>
            <div class="image-preview">
                <img src="<%= content %>" alt="Image Preview">
            </div>
        <% } else if(type === "render") { %>
            <h1> Preview of: "<b><%= filename %></b>"</h1>
            <div class="preview">
                <%- content %>
            </div>
        <% } else if(type === "unable") { %>
            <h1> Unable to render file: <b><%= filename %></b></h1>
            <a href="download?file=<%= locals.filename %>" targer="_blank">Download</a>
        <% } %>

    </main>

    <script>
        // For summaries and anchors
        titles = document.querySelectorAll(".wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6");
        titles.forEach(title => {
            let id = title.innerText
                .replace(/\s+/g, '-')
                .replace(/[^a-zA-Z0-9-]/g, '')
                .toLowerCase();
            if(document.getElementById(id)){
                let i;
                for(i = 1; document.getElementById(`${id}-${i}`); i++);
                id = `${id}-${i}`;
            }
            title.id = id;
        });
        
        imgs = document.querySelectorAll(".wrapper img");
        imgs.forEach(img => {
            if(img.src.startsWith(window.location.origin + "/writeups/"))
                img.addEventListener("dblclick", function() {
                    window.location.href = "?preview=" + img.getAttribute("src");
                });
        });

        links = document.querySelectorAll(".preview a[href]");
        links.forEach((link)=>{
            if(link.href.startsWith(window.location.origin + "/writeups/") && !link.href.includes("#")) {
                link.href = "?preview=" + link.getAttribute("href");
            }
        })
    </script>
</body>
</html>