<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title || "writeup" %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/writeup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="wrapper">
        <div class="writeup-header">
            <div class="writeup-title">
                <h1><%= writeup.name %></h1>
            </div>
            <div class="writeup-info">
                <% if (writeup.date) { %>
                    <span class="date">
                        <img src="/img/icons/date.svg" alt="calendar icon" class="calendar-icon">
                        <%= writeup.date %>
                    </span>
                <% } %>

                <% if (writeup.author) { %>
                    <span class="author">
                        <img src="/img/icons/user.svg" alt="author icon" class="author-icon">
                        <%= writeup.author %>
                    </span>
                <% } %>

                <% if (writeup.category) { %>
                    <span class="category">
                        <img src="/img/icons/binary.svg" alt="tag icon" class="tag-icon">
                        <%= writeup.category %>
                    </span>
                <% } %>
            </div>
            <div class="writeup-description">
                <p><%= writeup.description %></p>
            </div>  
                
        </div>

        <div class="writeup">
            <%- content %>
        </div>

    </main>


    <script>
        // For summaries and anchors
        titles = document.querySelectorAll(".wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6");
        titles.forEach(title => {
            let id = title.innerText.replace(/\s+/g, '-').toLowerCase();
            if(document.getElementById(id)){
                let i;
                for(i = 1; document.getElementById(`${id}-${i}`); i++);
                id = `${id}-${i}`;
            }
            title.id = id;
        });
        
        imgs = document.querySelectorAll(".wrapper img");
        imgs.forEach(img => {
            img.addEventListener("dblclick", function() {
                window.location.href = "?preview=" + img.getAttribute("src");
            });
        });

        links = document.querySelectorAll(".wrapper a[href]");
        links.forEach((link)=>{
            if(link.href.startsWith(window.location.origin + "/writeups/") && !link.href.includes("#")) {
                link.href = "?preview=" + link.getAttribute("href");
            }
        })
    </script>
</body>
</html>